@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    background-color: #fff2f2;
    width: 600px;
    margin: auto;
    text-align: left;
    font-family: 'IBM Plex Sans', sans-serif;
}
.heading{
    font-size: 36px;
    margin: 2rem 0 1rem 0;
}
.description{
    font-size: 16px;
}
label{
    font-size: 16px;
    font-weight: 600;
    margin-top: 1.2rem;
}
input{
    display: block;
    padding: 0.5rem;
    margin: 1rem 0 ;
    width: 70%;
}
button{
    font-size: 16px;
    padding: 0.5rem 3rem ;
    margin: 1rem 0.5rem 1.5rem 0rem ;
    width: 30%;
    background-color: #27282c;
    color: #ffffff;
}
caption{
    font-size: 16px;
    font-weight: 600;
    margin-top: 1.2rem;
}

table{
    border-collapse: collapse; 

}

th, td {
    margin: 1rem;
    padding: 1rem;
}



